## Problem 1 Statement  :

Avinash from the Partnerships Team at SocialCops needs to generate unique IDs for our auditors. These auditors are about to collect data in the field using SocialCops' data collection tool Collect (https://socialcops.com/collect) in 1071 villages across 20 blocks and two districts in the state of Uttar Pradesh in India. 

Avinash approaches you with an Excel file, which has a list of villages and the number of auditors required for each block, then asks you to create unique IDs for each block. If, for example, there are three villages in a block and six auditors are required, then you need to create 18 unique IDs for the block. 

Attached is the Excel file **<< Q1_Avinash_Village_Data.xlsx>>**. One example is given for the pattern in IDs. 

Can you generate unique IDs for each block in a similar fashion? Send across a Word document explaining your assumptions, methodology, and results.

Please be sure to include the steps and time taken to complete this exercise. You may be required to replicate this for other blocks if you come to our office.

### First Step:
Choosing Eniveroment : I will preffer Python and it's Surrounding library.

## Import your module:
Now Import your Python library to deal with the data. Here I will use Python's Pandas and Numpy Module to manipulate data.

In [1]:

import pandas as pd
import numpy as np

## Load your Data:

Library has been imported. Now it's time to load the data. The file name is 'Q1_Avinash_Village_Data' and it is a excel file.

Using Pandas, excel files can be read using <b> pandas.read_excel() </b> function. 

Take a look:

In [2]:
#let's name the variable village_data
village_data= pd.read_excel(r'E:\python\data\Q1_Avinash_Village_Data.xlsx')

Now let's have a look on our data what it's look like. The <b>file data is loaded into a dataframe</b> name (village_data").

This can be done using pandas dataframe.head() function which shows first 5 row of the dataframe.

In [22]:
village_data.head()

,Block Name,No. of auditors required in the Block,No. of Villages,No.of Ids required,Unnamed: 4,Unnamed: 5,Unnamed: 6,Example,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Badlapur,6,3,18,NaN,NaN,NaN,District,Block,Village,id
1,Barsathi,7,6,42,NaN,NaN,NaN,Jaunpur,Badlapur,Ahopur,Badlapur1_1
2,Bhitargaon,15,30,450,NaN,NaN,NaN,Jaunpur,Badlapur,Kumar Patti,Badlapur1_2
3,Bilhaur,26,63,1638,NaN,NaN,NaN,Jaunpur,Badlapur,Kewatli Kalan,Badlapur1_3
4,Chaubepur,20,45,900,NaN,NaN,NaN,Jaunpur,Badlapur,Ahopur,Badlapur2_1

Here I have Block Name, No. of auditors required in the block, No. of Villages[in each block], No. of Ids required [in each block] and example for unique id created.There are 20 row in the given data. 

Now Let's <b> define our function </b> to generate the unique id.

In [4]:

def unique_id_generator(block_name, auditors, village_number):
    # our function take three arugement as input block_name(string), auditors(numbers) required for that block, 
    #village_number(number) in that block.
    
    #create a empty array
    unique_id=[]
    
    for i in range(1,auditors+1):
        # loop through the number auditors number
        
        for j in range(1,village_number+1): #loop through the village number
            
            #append the unique id to early created array
            unique_id.append(block_name+str(i)+'_'+str(j))
            

    #now return the unique_id array which contains the ids created.
    return unique_id

We have defined our function that will return unique ids if block name, no of auditors and village name is given(correctly).

First Let's <b> test our function</b> that it will work or not.

In [12]:
# Calling our function with approprite input 
#and returned output is collected with new variable "test_unique_ids"
# Give a block name "Badlapur" and 6, 3 as auditors required and no of village respectively.

test_unique_ids= unique_id_generator('Badalapur',6,3)
# We would expect that their should be 18 unique id generated using our function.

#Now let's print our new variable and check what we got using funciton unique_id_generator()

print len(test_unique_ids)
print test_unique_ids

18
['Badalapur1_1', 'Badalapur1_2', 'Badalapur1_3', 'Badalapur2_1', 'Badalapur2_2', 'Badalapur2_3', 'Badalapur3_1', 'Badalapur3_2', 'Badalapur3_3', 'Badalapur4_1', 'Badalapur4_2', 'Badalapur4_3', 'Badalapur5_1', 'Badalapur5_2', 'Badalapur5_3', 'Badalapur6_1', 'Badalapur6_2', 'Badalapur6_3']

It's look like we got what we expected.We have eighteen unique ids.

So what's next? <br>
Now We have our data and working function. It's time to feed appropriate input from our data (village_data) to our function (unique_id_generator). Let's Check-

In [20]:
#Get all the values of a column using df['column_name'].values . Output will be a numpy array.

block_names= village_data['Block Name'].values  #All block name in a array

auditors_required= village_data['No. of auditors required in the Block'].values # No of auditor required per block

no_of_village= village_data['No. of Villages'].values # no of village per block


#Now create an empty pandas data frame 
    
unique_ids_dataframe= pd.DataFrame(columns=['Block Name','Ids'])


#Now loop through the block_names, auditors_required, and no_of_village one by one and these will be used as input to 
#function (unique_id_generator) and output is stored into another variable.

for k in range(len(block_names)):
    #calling our function with appropriate input
    unique_id= unique_id_generator(block_names[k],auditors_required[k],no_of_village[k])
     
    #Define block name for dataframe purpose
    block=np.array(block_names[k])
    
    #Create a new empty dataframe with column name 'Block Name' and 'Ids'.
    df= pd.DataFrame(columns=['Block Name','Ids'])
    
    # Now set value of Column 'Block Name' equal to block name. 
    
    #Here I have used numpy's repeat() function to repeat the block name.
    #This is done to have the same length of both coulmns.
    df['Block Name']= block.repeat(len(unique_id)) 
    
    #Setting value of Columns 'Ids' equal to unique_id.
    df['Ids']= unique_id
    
    #Now append this data-frame (df) to our early created data frame unique_ids_dataframe. 
    unique_ids_dataframe= unique_ids_dataframe.append(df, ignore_index=True)
    #here we have used ignore_index=True, If we don't use this, A new index will be created in
    #unique_ids_dataframe everytime we append a dataframe .
    

#This loop run for 20 time and every time generated new ids are appended into dataframe(unique_ids_dataframe).
# so at last we have unique ids for every block.

Now let's check our output. Here our output is <b> unique_ids_dataframe</b> which is a pandas dataframe. <br>
SO first Check the first five row of dataframe using <b> dataframe.head()</b> .

In [8]:
unique_ids_dataframe.head()

  Block Name          Ids
0   Badlapur  Badlapur1_1
1   Badlapur  Badlapur1_2
2   Badlapur  Badlapur1_3
3   Badlapur  Badlapur2_1
4   Badlapur  Badlapur2_2

Looks like we got everything right. Now take a look a last few raw by using <b>dataframe.tail()</b>.

In [9]:
unique_ids_dataframe.tail()

       Block Name              Ids
44989  SUITHAKALA  SUITHAKALA12_17
44990  SUITHAKALA  SUITHAKALA12_18
44991  SUITHAKALA  SUITHAKALA12_19
44992  SUITHAKALA  SUITHAKALA12_20
44993  SUITHAKALA  SUITHAKALA12_21

Here we can say that the above dataframe have 449934 row. It means we have 449934 unique ids.

Now we have a dataframe that contains block name and corresponding unique Ids. This can be exported to a csv file, excel file,html or anything else. <b> Choice is dependant.</b>

Here I will export this dataframe to a excel file.

In [21]:
unique_ids_dataframe.to_excel(r'E:\python\data\unique_ids.xlsx')

SO final output in a excel file(unique_ids.xlsx).